/* From Uiverse.io by kamehame-ha */ 

.tech-card {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  padding: 2px .5rem; /* 8px*/
  cursor: default;
  border-radius: 0.375rem; /* 6px */
  outline: none;
  width: fit-content;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px var(--text-color) solid;
}