.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.skillList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}
h2 {
    border-left: 4px solid #4fc3f7;
    padding-left: 10px;
    font-size: 1.5rem;
    margin-bottom: 25px;
}