<h2>{{title}}</h2>

<div class="skillList">
    @for (skillList of skillLists; track $index) {
        <div class="skills">
            @for (skill of skillList; track $index) {
                <app-skill [skillItem] = skill ></app-skill>
            }
        </div>
    }
</div>




<!-- <h2>Compétences & Technologies</h2>
<div class="skills">
    <div class="skills">
        <div class="skill">React</div>
        <div class="skill">Node.js</div>
        <div class="skill">Spring</div>
        <div class="skill">Angular</div>
        <div class="skill">Next</div>
        <div class="skill">ABP</div>
    </div>
    <div class="skills">
        <div class="skill">Maven</div>
        <div class="skill">Hibernate</div>
        <div class="skill">Tomcat</div>
        <div class="skill">Tailwind</div>
        <div class="skill">Git</div>
    </div>
    <div class="skills">
        <div class="skill">HTML</div>
        <div class="skill">CSS</div>
        <div class="skill">JavaScript</div>
        <div class="skill">C#</div>
        <div class="skill">Java</div>
        <div class="skill">Typescript</div>
        <div class="skill">PHP</div>
    </div>
        <div class="skills">
        <div class="skill">JSON/XML</div>
    </div>
</div> -->