body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: "Inter", Arial, sans-serif;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 80px 20px;

    /* height: 400px;
    background:
        linear-gradient(to bottom, rgba(255,255,255,0) 60%, #faf4e6 100%),
        url('/public/assets/') center/cover no-repeat; */
}

header h1 {
    font-size: 2.8rem;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

header p {
    color: var(--muted-text);
    font-size: 1.15rem;
    max-width: 600px;
    margin: 0 auto;
}

h2 {
    border-left: 4px solid var(--accent-color);
    padding-left: 10px;
    font-size: 1.5rem;
    margin-bottom: 25px;
}

footer {
    text-align: center;
    padding: 30px;
    color: var(--muted-text);
    border-top: 1px solid #1d2435;
    margin-top: 60px;
}