/* From Uiverse.io by kamehame-ha */ 

.status-card {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  padding: 2px .5rem; /* 8px*/
  cursor: default;
  border-radius: 0.375rem; /* 6px */
  outline: none;
  width: fit-content;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px var(--text-color) solid;
}

/* .deployed {
  background-color: rgba(59, 130, 246, 0.10);
  color: rgb(59 130 246);
  border: 1px rgb(59 130 246) solid;
}

.testing {
  background-color: rgba(234, 179, 8, 0.10);
  color: rgb(234 179 8);
  border: 1px rgb(234 179 8) solid;
}

.in-progress {
  background-color: rgba(34, 197, 94, 0.10);
  color: rgb(34 197 94);
  border: 1px rgb(34 197 94) solid;
} */