.button {
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.button-elem {
  display: block;
  width: 25px;
  height: 25px;
  margin: 17px 18px 0 18px;
  transform: rotate(180deg);
  fill: var(--text-color);
  &:hover{
    fill: var(--accent-color);
  }
}
