.skill {
    background-color: var(--card-bg);
    color: var(--accent-color);
    padding: 10px 16px;
    border-radius: 6px;
    font-weight: 500;
    transition: background 0.3s, color 0.3s;
}

.skill:hover {
    background-color: var(--accent-color);
    color: var(--bg-color);
}